<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid Dashboard</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-geo@3.9.0/build/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-geo"></script>

</head>

<body>
  <div class="header">
    <h1>Covid Dashboard</h1>
    <p>Visualizing Covid-19 data</p>
  </div>
  <div class="navbar">
    <div class="dropdown">
      <select id="region-select">
      </select>
    </div>
    <div class="tabs">
      <a href="/cases" class="tab active">Cases</a>
      <a href="/deaths" class="tab">Deaths</a>
      <a href="/vaccines" class="tab">Vaccines</a>
    </div>
  </div>
  <div class="content">
    <div class="content_map">
      <div class="content_mapchart">
        <div class="mapchart_button">
          <button class="tab">2021</button>
          <button class="tab">2022</button>
          <button class="tab">2023</button>
          <button class="tab">Total cumulative</button>
        </div>
        <div class="mapchart">
          <canvas id="canvas" width="1000" height="800"></canvas>
        </div>
      </div>
      <div class="content_table">
        <h2>Number of COVID-19 cases reported to WHO (cumulative total)</h2>
        <div class="table_number">
          <table>
          </table>
        </div>
      </div>
    </div>
    <div class="content_chart">
      <div class="area_chart">
        <canvas id="covidChart" width="800" height="400"></canvas>
      </div>
      <div class="Pyramid_chart">
        <h2 style="text-align:center">Population Pyramid</h2>
        <canvas id="populationPyramid" width="800" height="500"></canvas>
      </div>
    </div>
    <div class="content_region">
      <h2>Covid-19 Weekly Cases by Region</h2>
      <div class="region_chart">
        <div class="fact_region">
          <div class="number_region">
          </div>
          <h3>Africa</h3>
        </div>
        <canvas id="africaChart" width="1000" height="200"></canvas>
      </div>
      <div class="region_chart">
        <div class="fact_region">
          <div class="number_region">
          </div>
          <h3>Americas</h3>
        </div>
        <canvas id="americasChart" width="1000" height="200"></canvas>
      </div>
      <div class="region_chart">
        <div class="fact_region">
          <div class="number_region">
          </div>
          <h3>Europe</h3>
        </div>
        <canvas id="europeChart" width="1000" height="200"></canvas>
      </div>
      <div class="region_chart">
        <div class="fact_region">
          <div class="number_region">
          </div>
          <h3>Eastern Mediterranean</h3>
        </div>
        <canvas id="easternMediterraneanChart" width="1000" height="200"></canvas>
      </div>
      <div class="region_chart">
        <div class="fact_region">
          <div class="number_region">
          </div>
          <h3>South-East Asia</h3>
        </div>
        <canvas id="southEastAsiaChart" width="1000" height="200"></canvas>
      </div>
      <div class="region_chart">
        <div class="fact_region">
          <div class="number_region">
          </div>
          <h3>Western Pacific</h3>
        </div>
        <canvas id="westernPacificChart" width="1000" height="200"></canvas>
      </div>
    </div>
  </div>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/mapchart.js"></script>
  <script src="/static/js/area.js"></script>
  <script src="/static/js/pyramidchart.js"></script>
  <script src="/static/js/regionchart.js"></script>
</body>

</html>